body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: relative;
  margin: 0;
}
.top{
    height: 70px;
    background-color: rgb(255, 218, 243);

    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.it{
    margin-top: 0;         
    display: flex;
    align-items: center;
}
.top img{
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin: 0;
}
.inp{
    padding-left: 1rem;
    padding-right: 3rem;
    border-radius: 0.5rem;
    border-color: rgb(58, 58, 58);
    margin-bottom: 5px;
}
button{
    margin-top: 1rem;
    border-radius: 8px;
    font-size: 0.8rem;
    padding-left: 4vh;
    padding-right: 4vh;
    background-color: rgb(255, 85, 170);
    border-color: rgb(255, 85, 170);
    color:rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(201, 65, 135);
    border-color: rgb(201, 69, 135);
    color:rgb(255, 255, 255);
}
.pg{
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 25px;
}
.paginacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.paginacao form{
    margin: 0;
}

.paginacao button{
    margin: 0;
}

.paginacao a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    text-decoration: none;
    border: 1px solid rgb(255, 85, 170);
    border-radius: 5px;
    color: rgb(255, 85, 170);
}

.paginacao a:hover{
    background-color: rgb(255, 85, 170);
    color: white;
}
.tituloPagina{
    text-align: center;
    color: rgb(177, 31, 128);
    margin: 30px 0;
}
.sucesso{
    width: fit-content;
    margin: 20px auto;

    background-color: rgb(255, 218, 243);
    color: rgb(177, 31, 128);

    padding: 12px 20px;

    border: 1px solid rgb(255, 85, 170);
    border-radius: 8px;

    font-weight: bold;
}