<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/cadastroLogin.css}">
    <title>Document</title>
</head>

<body>
    <div class="cdlg">
        <h3 class="t">Crie sua conta</h3>
        <form method="POST" action="/criarUsuario">
            <label class="lbl" for="nome">Nome: </label><br>
            <input class="inp" placeholder="Nome" type="text" name="nome" required><br>
            <label class="lbl" for="email">E-mail: </label><br>
            <input class="inp" placeholder="E-mail" type="text" name="email" required><br>
            <label class="lbl" for="senha">Senha: </label><br>
            <input class="inp" placeholder="Senha" type="password" name="senha" required><br>
            <button type="submit">Criar conta</button>
        </form>
    </div>
</body>

</html>