<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>
</head>
<body>
    <h1>Seu carrinho</h1>
    <div class="item" th:each="item : ${carrinho.itens}">

    <img th:src="@{'/' + ${item.produto.image}}"
         alt="Imagem">

    <h3>[[${item.produto.nome}]]</h3>

    <p>Preço: R$ [[${item.produto.preco}]]</p>

    <p>Quantidade: [[${item.quantidade}]]</p>

    <p>Total: R$ [[${item.total}]]</p>

</div>
    <br>
    <table border="1"
           th:if="${carrinho.itens.size() > 0}">
        <tr>
            <th>Total</th>
        </tr>
        <tr>
            <td>[[${total}]]</td>
        </tr>
    </table>
    <h3 th:if="${carrinho.itens.size() == 0}">O carrinho está vazio</h3>
    <br>
    <form th:action="@{/limpar}" method="POST">
        <button type="submit">Limpar Carrinho</button>
    </form>
    <br>
    <a href="/listaProduto">Voltar</a>
</body>
</html>