<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalhes do Pedido</h1>
    <table border="1">
        <tr>
            <th>Cliente</th>
            <th>Valor</th>
            <th>Estado</th>
            <th>Frete</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>[[${pedido.nome}]]</td>
            <td>R$[[${pedido.valor}]]</td>
            <td>[[${pedido.estado}]]</td>
            <td>[[${pedido.frete}]]</td>
            <td>R$[[${pedido.total}]]</td>
        </tr>
    </table>
    <h3><a th:href="@{/pedido/{id}/editar(id=${pedido.id})}">Editar</a></h3>
    <h3><a th:href="@{/pedido/{id}/deletar(id=${pedido.id})}">Deletar</a></h3>
</body>
</html>