<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Estado</th>
            <th>Frete</th>
            <th>Total</th>
            <th>Detalhes</th>
        </tr>
        <tr th:each="pedido : ${pedidos}">
            <td>[[${pedido.nome}]]</td>
            <td>R$[[${pedido.valor}]]</td>
            <td>[[${pedido.estado}]]</td>
            <td>[[${pedido.frete}]]</td>
            <td th:if="${pedido.total > 500.00}" bgcolor="yellow"><Strong>R$[[${pedido.total}]]</Strong></td>
            <td th:unless="${pedido.total > 500.00}" bgcolor="yellow">R$[[${pedido.total}]]</td>
            <td><a th:href="@{/pedido/{id}(id=${pedido.id})}">Ver</a></td>
        </tr>
    </table>
</body>
</html>