<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" th:href="produto.css">
</head>

<body>
    <table>
        <tr>
            <td><img src="roupinha.jpg" alt="roupinha"></td>
            <td>Roupa para cachorro </td>
            <div class="pr">
                <td>
                    <p>R$ 150,00</p>
                </td>
            </div>
        </tr>
        <tr>
            <td><img src="roupinha.jpg" alt="roupinha"></td>
            <td>Roupa para cachorro </td>
            <td>R$ 150,00</td>
        </tr>
    </table>
</body>

</html>